<?xml version="1.0"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="UTTT.Ejemplo.Linq.Data.Properties.Settings.DB_A6E0A7_AbrilSanchez13ConnectionString"
            connectionString="Data Source=sql5052.site4now.net;Initial Catalog=DB_A6E0A7_AbrilSanchez13;Persist Security Info=True;User ID=DB_A6E0A7_AbrilSanchez13_admin;Password=1kerbadillO"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
</configuration>
